<div class="container">

  <div>
     <div class="row-user">
      <div class="user-field">
        <h5>Nome do usuario</h5>
      </div>
    </div>
    <div class="column">
      <div class="deposit">
        <h2>
          Deposite aqui seu dinheiro!
        </h2>
        <p>
          <img class="icon" src="../../assets/2.png">
        </p>
      </div>
      <div>
        <div class="deposit">
          <h2>
            Saque aqui seu dinheiro!
          </h2>
          <p>
            <img class="icon" src="../../assets/3.png">
          </p>
        </div>
      </div>
      <div>
        <div class="deposit">
          <h2>
            Deposite aqui seu dinheiro!
          </h2>
          <p>
            <img class="icon" src="../../assets/2.png">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
