<div class="container">
  <div>


    <div class="column">

      <div class="deposit">
        <button mat-raised-button>
          Deposito
        </button>
        <p>
          <img class="icon" src="../../assets/2.png">
        </p>
      </div>
      <div>
        <div class="deposit">
          <button mat-raised-button>
            Saque
          </button>
          <img class="icon" src="../../assets/3.png">
        </div>
      </div>
      <div>
        <div class="deposit">
          <button mat-raised-button>
            Saldo
          </button>
          <p>
            <img class="icon" src="../../assets/1.png">
          </p>
        </div>
      </div>
    </div>
    <div class="row-user">
      <div class="user-field">
        <img class='user-photo' src='../../assets/icon1.png'>
        <h5>Nome do usuario</h5>

      </div>
    </div>
  </div>
</div>
